<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <div class="categories">
            {% for c in page.categories %}
            {% for i in site.data.author.categories %}
            {% if c == i.name %}  
            {% assign category_parts = c | split: '_' %}
            {% assign displayed_category = category_parts.first %}
            <a href="{{i.url}}" target="_blank" data-base-url="{{site.baseurl}}" class="category">{{ displayed_category }}</a>  
            {% endif %}  
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
